<aside class="sidebar pull-left">
    <ul class="sideList" *ngIf="newsList && newsList.length">
        <li *ngFor="let news of newsList; let i = index" class="clearfix">
            <a class="news-link" [ngClass]="{'selected':news.selected}" (click)="viewNews(news)">  
                <div class="image-container pull-left">
                    <img class="side-image" src="{{news.thumbUrl}}" alt=""> 
                </div>
                <div class="list-description pull-left">
                    <h3>{{ news.title }}</h3>
                    <span class="date">{{ news.modDate | date }}</span>
                </div>
            </a>
        </li> 
    </ul>
</aside>

<!--{{ newsList | json }}-->

<h3 *ngIf="!newsList">
    There are no news.
</h3>

<div class="news-content" *ngIf="selectedNews">
    <div class="img-box">
        <img src="{{selectedNews.imageUrl}}"/> 
        <div class="title-box">
            <h4>{{selectedNews.title}}</h4>
            <p>{{selectedNews.modDate}}</p>
        </div>
    </div>

    <div class="story-box" [innerHTML]="selectedNews.story">
    </div>
</div>