*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.pull-left{
    float: left;
}

h1, h2, h3, h4{
    color: #000;
}

ul li{
    list-style: none;   
}

.container{
    padding-left: 15px;
    padding-right: 15px;
}

header{
    background: #333;
    padding: 8px;
    position: fixed;
    z-index: 10px;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

header h1{
    color: #FFF;
}